@media screen and (min-width: 426px) and (max-width: 768px){
    
    .navbar-link{
        display: none;
    }

    .logo{
        padding-left: 0px;
    }

    .navbar{
        /* margin-left: 10px; */
        display: flex;
        justify-content: center;
    }

    .ls-style{
        padding: 0px;
        padding-left: 9px;
    }
    
    .view{
        height: auto;
    }

    .center{
        display: flex;
        justify-content: center;
    }

    .grid-grid{
        display: block;
    }

    .grid-contact{
        display: block;
    }
}
