@media screen and (min-width: 426px) and (max-width: 768px){
    
    .navbar-link{
        display: none;
    }

    .navbar{
        margin-left: 30px;
    }
    .ls-style{
        padding: 0px;
        padding-left: 9px;
    }
    
    .view{
        height: auto;
    }

    .center{
        display: flex;
        justify-content: center;
    }

    .grid-grid{
        display: block;
    }

    .grid-contact{
        display: block;
    }
}
