@media screen and (min-width: 426px) and (max-width: 768px){
    
    .nav-link{
        margin: -180px;
    }

    .navbar{
        margin-left: 30px;
    }
    .ls-style{
        padding: 0px;
        padding-left: 9px;
    }
    
    .view{
        height: auto;
    }

    .grid-grid{
        margin-left: 0px;
    }
}
